body {
    padding-top: 1em;
}

.center {
    text-align: center;
}

.btn {
    padding: .8em 1.4em;
    color: #fff;
    background: $font;
    text-transform: uppercase;
    transition: all .2s;
}

.btn:hover {
    color: #fff;
    background: darken($font, 10);
}

.btn:active {
    color: #fff;
    background: lighten($font, 10);
}

.btn-submit {
    border: none;
    font-size: .85em;
    font-family: $fontBody;
    cursor: pointer;
    padding: .75em 1.6em;
}

.site-title {
    font-size: 1.1em;
    border-bottom: 3px solid $font;
}

article {
    margin: 2em 0 2em;
}

.article-header {
    margin-bottom: 1em;
}

.article-title {
    font-size: 2.2em;
}

.article-img {
    display: block;
    margin: 0 auto 2em;

    @include media($tablet) {
        max-width: 150%;
        margin-left: -15%;
    }
}

.article-img--featured {
    margin-top: 2.375em;
    margin-bottom: 4em;
}

.byline {
    color: #000;
    font-size: .75em;
}

.author {
    text-transform: uppercase;
    margin-right: .8em;
}

.pubdate {
    color: lighten($font, 12.5);
}

.social-share {
    list-style: none;
    margin: 1em 0 0;

    .social-share__item {
        font-family: Arial, 'helvetica neue', Helvetica, sans-serif;
        display: inline-block;
        margin-right: .2em;
        margin-bottom: 1em;
    }

    .social-share__link {
        color: #fff;
        padding: 0.8em 1.2em 0.8em 1.4em;
        background: #ddd;
        font-size: .7em;
    }

    .social-share__link--facebook {
        background: #3b5998;
        padding-left: 1em;
    }

    .social-share__link--twitter {
        background: #4099ff;
    }

    .icon-social {
        position: relative;
        top: 0.4em;
        left: -0.4em;
        font-size: 1em;
    }

    .icon-social--facebook {
        left: -0.2em;
    }

    svg {
      width: 1.5em;
      height: 1.5em;
      fill: #fff;
    }
}



.show-comments-wrap {
    margin: 2em 0 2em;
    padding: 4em 0 2em;
    text-align: center;
    border-top: 2px solid $font;
    font-size: .9em;
}

.comments-section {
    margin-top: 5em;
    margin-bottom: 2em;

    .comments {
        list-style: none;
        margin: 0;
    }

    .comment-section-title {
        font-size: 1em;
        text-transform: uppercase;
        border-bottom: 2px solid $font;
    }

    .comment {
        border-top: 1px solid lighten($font, 40);
        padding-top: 2em;
        padding-bottom: 2em;

        @include media($tablet) {
            padding-left: 0.6em;
            padding-right: 0.6em;
        }

        &:first-child {
            border-top: none;
        }
    }

    .comment-info {
        font-family: $sansSerif;
        font-size: .8em;
        margin-bottom: 0;
    }

    .comment-name {
        font-weight: bold;
        margin-right: .375em;
    }

    .comment-time {
        font-size: .8em;
        color: lighten($font, 40);
    }

}


.new-comment {
    margin-top: 1em;

    .add-comment-title {
        font-size: 1em;
        text-transform: uppercase;
        border-bottom: 2px solid $font;
    }

    .add-comment {
        padding: 1em 0;
        @include media($tablet) {
            margin: 0 auto;
            width: 80%;
        }
    }
}

.alert {
    padding: 1em;
    font-size: .8em;
    font-family: $sansSerif;
    background: #ddd;
}

.alert-success {
    background: #D5EBCE;
}

.alert-error {
    background: #FCDCDC;
}

.colophon {
    margin-top: 2em;
    padding-bottom: 1em;
    font-size: .85em;

    .row {
        border-top: 3px solid #333;
        padding: 1em 0 0;
    }

    .copyright {
        margin-bottom: 0;
    }
}
