article {

    @include media($tablet) {
        margin: 0 $spacing__base;
    }
}

.article__header {
    margin-bottom: 1rem;
}

.article__title {
    font-size: 1.8rem;

    @include media($tablet) {
        font-size: 2.4rem;
        margin-top: 0.2rem;
        margin-bottom: 0.6rem;
    }
}

.article-img {
    display: block;
    margin: 0 auto $spacing__base;

    @include media($tablet) {
        max-width: 150%;
        margin-left: -20%;
    }
}

.featured-image {
    margin-top: $spacing__base;
    margin-bottom: $spacing__base;

    img {
        margin-bottom: 0;
    }
}

.featured-image__caption {
    font-size: 0.8rem;
    display: block;
    margin-bottom: 0.2rem;
}

.featured-image__credit {
    font-size: 0.65rem;
}

.lede {
    text-transform: italic;
}

.author,
.byline {
    font-size: .75rem;
    margin-bottom: $spacing__base * 0.6;
    color: $font--light;
}

.byline-container {
    @include media($mobile) {
        display: flex;
        align-items: center;

        .social-share {
            margin-top: 0;
            margin-right: 20px;
            order: 1;
        }

        .author {
            order: 2;
        }
    }
}

.author {
    margin-bottom: 0;
}

.prev-article {
    font-size: .9rem;

    svg {
        position: relative;
        top: 0.2em;
    }
}

.inline-img {
    margin-bottom: $spacing__base/2;
    border: 1px solid #ddd;
    padding: 5px;
}

.inline-img--float-r {

    @include media($mobile) {
        float: right;
        max-width: 28%;
        margin-right: $spacing__base;
    }
}

.inline-img__caption {
    font-size: 0.8rem;
    display: block;
    margin-bottom: 0.2rem;
}

.inline-img__credit {
    font-size: 0.65rem;
}
