.eyp {
    background: #f2f2f2;
    border-left: 4px solid #ddd;
    padding: $spacing__base;
    margin-bottom: $spacing__base;
    font-size: 1rem;

}


.eyp__title {
    display: inline-block;
    background: yellow;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: $spacing__base;
    padding: 0 0.2em;
}

.eyp__subtitle {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: bold;


    strong {
        padding: 0 0.2em;
        background: yellow;
    }
}


.eyp__content {
    margin-bottom: $spacing__base;

    &:last-of-type {
        margin-bottom: 0;
    }

    p:last-child, {
        margin-bottom: 0;
    }
}
